.vaga {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    min-width: 60px;
    margin: 2px;
    border-top: 4px solid rgb(240, 243, 39);
    border-right: 4px solid rgb(240, 243, 39);
}